@model IEnumerable<ETSU.CampusTour.SharedLibrary.Models.Tour>

@{
    ViewData["Title"] = "Home Page";
}

<h1>List of Tours</h1>
<table class="table">
    <thead>
        <tr>
            <th>Tour Id</th>
            <th>Tour Name</th>
            <th>Tour Description</th>
            <th>Tour Type</th>
            <th>Tour Route</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.Tour_Id</td>
                <td>@tour.Tour_Name</td>
                <td>@tour.Tour_Description</td>
                <td>@tour.Tour_Type</td>
                <td>@tour.Tour_Route</td>
            </tr>
        }
    </tbody>
</table>